In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns
import statsmodels.tsa.api as tsa
import sktime

In [4]:
df_invoice = pd.read_excel('Invoice.xlsx')
df_promo = pd.read_excel('Promo.xlsx')

In [6]:
df_invoice.head()

,INVOICE_CD,MATERIAL_NUM_CD,SALESORG_CD,CUSTOMER_SOLD_TO_CD,LOCATION_CD,invoice_qty,INVOICE_DT,week_num,month_num,qtr_num,CUSTOMER_HIERARCHY_LVL2_CD,basecode,brand_cd,category_cd
0,3690102789,654006,HU01,6424997,HU93,14.697011,2017-02-20,8,2,1,HU000106,HU0261,EUCOCOBPA,EUCOCO
1,3690103366,4028405,HU01,6424997,HU93,10.884171,2017-03-06,10,3,1,HU000106,HU0213,EUCOCOM73,EUCOCO
2,3690103735,654006,HU01,6424997,HU93,14.882567,2017-03-16,11,3,1,HU000106,HU0261,EUCOCOBPA,EUCOCO
3,3690103735,4028405,HU01,6424997,HU93,10.299208,2017-03-16,11,3,1,HU000106,HU0213,EUCOCOM73,EUCOCO
4,3690104623,4028405,HU01,6424997,HU93,10.299208,2017-03-22,12,3,1,HU000106,HU0213,EUCOCOM73,EUCOCO

In [7]:
df_promo.head()

,promo_cd,status_cd,basecode,location_cd,customer_hierarchy_lvl2_cd,salesorg_cd,ship_start_dt,ship_end_dt,event_end_dt,event_start_dt,promo_mechanic_nm,promo_mechanic_desc
0,19279,Approved,HU0261,HU93,HU000101,HU01,2017-03-03,2017-03-05,2017-03-05,2017-03-03,Pricing,TPR
1,19280,Approved,HU0063,HU93,HU000101,HU01,2017-03-01,2017-03-10,2017-03-10,2017-03-08,Pricing,TPR
2,19281,Approved,HU0044,HU93,HU000101,HU01,2017-04-13,2017-04-20,2017-04-20,2017-04-13,Pricing,TPR
3,19282,Approved,HU0060,HU93,HU000101,HU01,2017-04-07,2017-04-17,2017-04-17,2017-04-15,Pricing,TPR
4,19283,Approved,HU0028,HU93,HU000101,HU01,2017-05-18,2017-05-27,2017-05-27,2017-05-25,Pricing,TPR